@import "../../utils/vars";
@import "../../utils/mixins";

$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;


@font-face {
    font-family: "swiper-icons";
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

:root {
    --swiper-theme-color: #{$themeColor};
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}
.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    // height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-slide-invisible-blank {
    visibility: hidden;
}
/* Auto Height */
.swiper-container-autoheight {
    &,
    .swiper-slide {
        height: auto;
    }

    .swiper-wrapper {
        align-items: flex-start;
        transition-property: transform, height;
    }
}

.iz-button-next,
.iz-button-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    @include transition-all;
    &:hover {
        opacity: 1;
    }
}
.iz-button-next {
    background: url("/assets/img/slider/button_slider.svg") no-repeat;
    background-size: 50px 50px;
    background-position: center;
    right: 15px;
}
.iz-button-prev {
    background: url("/assets/img/slider/button_slider.svg") no-repeat;
    background-size: 50px 50px;
    background-position: center;
    left: 15px;
    transform: rotate(180deg);
}
.iz-swiper-pagination {
    position: absolute;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    bottom: 0px;
    font-size: 12px;
    width: auto;
    z-index: 20;
    left: auto;
    display: flex;
}
.iz-gallery{
    .swiper-slide{
        display: flex;
        align-items: center;
        // min-height: 100%;
        background: #000;
    }
    .swiper-slide__img{
        display: block;
        width: 100%;
    }
    .big-gallery__control-box {
        position: absolute;
        right: 0px;
        top: 0px;
        background: rgba(101, 49, 156, 0.9);
        display: flex;
        z-index: 10;
        align-items: center;
        height: 32px;
        cursor: pointer;
        @include transition-all;
        &:hover {
            background: rgba(101, 49, 156, 0.7);
        }
        .big-gallery__control-text {
            color: #fff;
            font-size: 14px;
            padding: 0 5px 0 10px;
        }
        .big-gallery__control-icon {
            padding: 0 10px 0 5px;
        }
    }
}
.iz-swiper-items{
    margin: 10px 0;
    .swiper-slide{
        .swiper-slide__img__box {
            .swiper-slide__img {
            }
        }
        .swiper-slide__description__box {
            .swiper-slide__description-author {
                font-size: 12px;
                color: #aaa;
            }
            .swiper-slide__description{
                padding-top: 10px;
                width: 60%;
                margin: 0 auto;
                font-family: "Noto Serif";
                color: #000000;
                font-size: 16px;
                @media screen and (max-width: $tableWidth) {
                    width: 100%;
                    font-size: 14px;
                }
                @media screen and (max-width: $phoneWidth) {
                    font-size: 14px;
                }
            }
        }
    }
}
$rightBoxWidth: 350px;
.iz-swiper-full{
    height: 100vh;
    .iz-button-next{
        right: ($rightBoxWidth + 15);
    }
    .iz-js-pagination__full{
        right: ($rightBoxWidth + 15);
    }
    .swiper-slide{
        display: grid;
        grid-template-columns: 1fr 350px;
        .swiper-slide__img__box{
            background: #000;
            display: flex;
            align-items: center;
        }
        .swiper-slide__description__box{
            display: block;
            padding: 45px 15px 25px 20px;
            text-align: left;
            .swiper-slide__title{
                font-size: 30px;
                font-weight: bold;
                color: #333333;
            }
            .swiper-slide__annotation{
                font-size: 20px;
                font-weight: bold;
                color: #333333;
                margin-top: 7px;
            }
            .swiper-slide__description{
                margin: 36px 0 10px 0;
                font-family: $secondFont;
                font-size: 16px;
                letter-spacing: 'normal';
                color: #1a1a1a;
            }
            .swiper-slide__description-author{
                font-size: 12px;
                color: #aaa;
                margin:10px 0;
            }
        }
        .iz-swiper-pagination{
            
        }
    }
}