@import "../../utils/vars";
@import "../../utils/mixins";

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    overflow: auto;
    text-align: center;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
}

.popup--active {
    visibility: visible;
    opacity: 1;
}

.popup__inner,
.popup::before {
    display: inline-block;
    vertical-align: middle;
}

.popup::before {
    content: "";
    height: 100%;
    width: 0;
}

.popup__inner {
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 100%;
}

.popup__close {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 100;
    background: url("/tags/assets/img/slider/icon--close.svg") no-repeat;
    opacity: 0.5;
    @include transition-all;
    &:hover {
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    min-width: 200px;
    text-transform: uppercase;
    padding: 0.5em;
    text-align: center;
}
